node_modules

/build
/public/build
.env
/uploads

/prisma/data.db
/prisma/data.db-journal
/prisma/data.e2e.db
/prisma/data.e2e.db-journal
/prisma/dbml/

/app/routes.d.ts

/test-results/
/playwright-report/
/playwright/.cache/
