node_modules

/build
/public/build
.env

/prisma/data.db
/prisma/data.db-journal
/prisma/data.e2e.db
/prisma/data.e2e.db-journal

/app/routes.d.ts

/test-results/
/playwright-report/
/playwright/.cache/
